@using RecipeForm.Models
@model Recipe
@{
    ViewData["Title"] = "Recipes";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Submit" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-description">
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div id="ingredientList">
        <input type="text" name="ingredients[0]" placeholder="Enter ingredient..." />
        
    </div>
    <button type="button" id="addIngredient" class="btn btn-secondary">Add Ingredient</button>
    <button type="submit" class="btn btn-primary">Submit</button>


</form>

