@{
    Layout = "_Layout";
    ViewData["Title"] = "Book List";  
}
@model Book

<h1>Add New Book</h1>

<form asp-action="Add" method="post">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label asp-for="Author"></label>
        <input asp-for="Author" />
        <span asp-validation-for="Author"></span>
    </div>
    <div>
        <label asp-for="Year"></label>
        <input asp-for="Year" type="number" />
        <span asp-validation-for="Year"></span>
    </div>
    <div>
        <label asp-for="Genre"></label>
        <select asp-for="Genre">
            <option value="">-- Select Genre --</option>
            @foreach (var genre in ViewBag.Genres)
            {
                <option value="@genre">@genre</option>
            }
        </select>
        <span asp-validation-for="Genre"></span>
    </div>
    <button type="submit">Add Book</button>
</form>
<br />
<a href="/Books/Index">Back to List</a>

